.desktop {
  background-color: #f7f4ea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #f7f4ea;
  overflow: hidden;
  width: 1440px;
  height: 5177px;
  position: relative;
}

.desktop .overlap {
  position: absolute;
  width: 1323px;
  height: 571px;
  top: 0;
  left: 57px;
}

.desktop .overlap-group {
  position: absolute;
  width: 1302px;
  height: 571px;
  top: 0;
  left: 0;
}

.desktop .overlap-2 {
  position: absolute;
  width: 1302px;
  height: 436px;
  top: 135px;
  left: 0;
}

.desktop .sunrise-logo-new {
  position: absolute;
  width: 236px;
  height: 60px;
  top: 181px;
  left: 630px;
  object-fit: cover;
}

.desktop .text-wrapper {
  position: absolute;
  width: 828px;
  top: 200px;
  left: 0;
  font-family: "Quicksand", Helvetica;
  font-weight: 700;
  color: #44433f;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 963px;
  top: 65px;
  left: 0;
  font-family: "Quicksand", Helvetica;
  font-weight: 700;
  color: #44433f;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group {
  position: absolute;
  width: 436px;
  height: 436px;
  top: 0;
  left: 845px;
}

.desktop .overlap-group-2 {
  position: relative;
  width: 445px;
  height: 445px;
  top: -4px;
  left: -4px;
}

.desktop .rectangle {
  position: absolute;
  width: 408px;
  height: 408px;
  top: 19px;
  left: 19px;
  background-color: #d9d9d9;
  border-radius: 43px;
  border: 4px solid;
  border-color: #44433f;
  transform: rotate(-5.50deg);
}

.desktop .mask-group {
  position: absolute;
  width: 436px;
  height: 436px;
  top: 4px;
  left: 4px;
}

.desktop .arrow-wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 335px;
  left: 1202px;
  background-color: #ffa314;
  border-radius: 50px;
}

.desktop .arrow {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 26px;
  left: 27px;
}

.desktop .p {
  position: absolute;
  width: 828px;
  top: 415px;
  left: 0;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #44433f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .sunrise {
  position: absolute;
  width: 299px;
  height: 161px;
  top: 0;
  left: 466px;
  object-fit: cover;
}

.desktop .group-2 {
  position: absolute;
  width: 274px;
  height: 60px;
  top: 25px;
  left: 1049px;
}

.desktop .frame {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  left: 0;
  background-color: #ffa314;
  border-radius: 42px;
  height: 60px;
  position: absolute;
  top: 0;
}

.desktop .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -5.97px;
  margin-bottom: -4.03px;
  margin-left: -1.50px;
  margin-right: -1.50px;
  font-family: "Quicksand", Helvetica;
  font-weight: 700;
  color: #44433f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .img {
  width: 84px;
  left: 190px;
  height: 60px;
  position: absolute;
  top: 0;
}

.desktop .group-3 {
  position: absolute;
  width: 167px;
  height: 42px;
  top: 28px;
  left: 11px;
}

.desktop .group-4 {
  position: absolute;
  width: 43px;
  height: 42px;
  top: 0;
  left: 0;
}

.desktop .fi {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0;
  left: 63px;
}

.desktop .subtract {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0;
  left: 125px;
}

.desktop .group-wrapper {
  position: absolute;
  width: 1322px;
  height: 412px;
  top: 4059px;
  left: 58px;
  background-color: #ffa314;
  border-radius: 42px;
  margin-top: 100px;  
}

.desktop .div-wrapper {
  position: relative;
  width: 944px;
  height: 290px;
  top: 61px;
  left: 189px;
}

.desktop .group-5 {
  position: relative;
  width: 948px;
  height: 290px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 939px;
  top: 0;
  left: 0;
  font-family: "Quicksand", Helvetica;
  font-weight: 600;
  color: #44433f;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .because-we-re-all {
  position: absolute;
  top: 80px;
  left: 0;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .span {
  font-weight: 500;
}

.desktop .text-wrapper-5 {
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
}

.desktop .group-6 {
  position: absolute;
  width: 1325px;
  height: 1203px;
  top: 2756px;
  left: 55px;
}

.desktop .group-7 {
  position: absolute;
  width: 1325px;
  height: 165px;
  top: 0;
  left: 0;
}

.desktop .group-8 {
  position: relative;
  width: 1327px;
  height: 165px;
  top: 350px;

}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 4px;
  font-family: "Quicksand", Helvetica;
  font-weight: 700;
  color: #44433f;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-9 {
  position: absolute;
  width: 1329px;
  height: 85px;
  top: 80px;
  left: 0;
}

.desktop .text-wrapper-7 {
  position: absolute;
  width: 1323px;
  top: 0;
  left: 2px;
  font-family: "Quicksand", Helvetica;
  font-weight: 600;
  color: #44433f;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-8 {
  position: absolute;
  width: 1323px;
  top: 55px;
  left: 0;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #44433f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-10 {
  position: absolute;
  width: 1321px;
  height: 480px;
  top: 550px;
  left: 4px;
}

.desktop .div-2 {
  position: absolute;
  width: 641px;
  top: 0;
  left: 678px;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #44433f;
  font-size: 48px;
  letter-spacing: 0;
  /* line-height: normal; */
}

.desktop .text-wrapper-9 {
  font-size: 24px;
}

.desktop .mask-group-2 {
  width: 666px;
  top: -10px;
  left: -14px;
  position: absolute;
  height: 484px;
}

.desktop .group-11 {
  position: absolute;
  width: 1321px;
  height: 458px;
  top: 1200px;
  left: 6px;  
}

.desktop .mask-group-3 {
  width: 666px;
  top: -10px;
  left: -16px;
  position: absolute;
  height: 484px;
}

.desktop .group-12 {
  position: absolute;
  width: 1325px;
  height: 1210px;
  top: 1450px;
  left: 55px;
}

.desktop .group-13 {
  position: absolute;
  width: 1325px;
  height: 195px;
  top: 30px;
  left: 2px;
  /* margin-top: 50px; */
}

.desktop .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 2px;
  font-family: "Quicksand", Helvetica;
  font-weight: 700;
  color: #44433f;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-14 {
  position: absolute;
  width: 1327px;
  height: 115px;
  top: 80px;
  left: 0;
}

.desktop .text-wrapper-11 {
  position: absolute;
  width: 1323px;
  top: 0;
  left: 0;
  font-family: "Quicksand", Helvetica;
  font-weight: 600;
  color: #44433f;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-15 {
  position: absolute;
  width: 1319px;
  height: 460px;
  top: 255px;
  left: 2px;
}

.desktop .div-3 {
  position: absolute;
  width: 639px;
  top: 0;
  left: 0;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #44433f;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .mask-group-4 {
  width: 668px;
  top: -8px;
  left: 662px;
  position: absolute;
  height: 484px;
}

.desktop .group-16 {
  position: absolute;
  width: 1327px;
  height: 455px;
  top: 800px;
  left: 0;
  margin-top:270px ;
}

.desktop .mask-group-5 {
  width: 663px;
  top: -12px;
  left: 676px;
  position: absolute;
  height: 484px;
}

.desktop .overlap-wrapper {
  position: absolute;
  width: 1457px;
  height: 602px;
  top: 4575px;
  left: -15px;
  /* margin-top: 100px; */
}

.desktop .overlap-3 {
  position: relative;
  width: 1483px;
  height: 602px;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 1483px;
  height: 602px;
  top: 0;
  left: 0;
}

.desktop .overlap-group-3 {
  position: relative;
  width: 1455px;
  height: 602px;
  background-color: #44433f;
}

.desktop .group-17 {
  position: absolute;
  width: 43px;
  height: 42px;
  top: 114px;
  left: 1177px;
}

.desktop .fi-2 {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 114px;
  left: 1240px;
}

.desktop .subtract-2 {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 114px;
  left: 1302px;
}

.desktop .sunrise-logo-new-2 {
  position: absolute;
  width: 236px;
  height: 60px;
  top: 59px;
  left: 72px;
  object-fit: cover;
}

.desktop .text-wrapper-12 {
  position: absolute;
  top: 66px;
  left: 468px;
  font-family: "Quicksand", Helvetica;
  font-weight: 700;
  color: #f7f4ea;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-13 {
  position: absolute;
  top: 66px;
  left: 1233px;
  font-family: "Quicksand", Helvetica;
  font-weight: 700;
  color: #f7f4ea;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-14 {
  position: absolute;
  top: 183px;
  left: 1233px;
  font-family: "Quicksand", Helvetica;
  font-weight: 700;
  color: #f7f4ea;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-15 {
  position: absolute;
  width: 134px;
  top: 133px;
  left: 468px;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #f7f4ea;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-16 {
  position: absolute;
  width: 342px;
  top: 173px;
  left: 72px;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #f7f4ea;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .address-MEHTA-ARCADE {
  position: absolute;
  width: 342px;
  top: 147px;
  left: 725px;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #f7f4ea;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-17 {
  font-weight: 600;
}

.desktop .text-wrapper-18 {
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #f7f4ea;
  font-size: 20px;
  letter-spacing: 0;
}

.desktop .text-wrapper-19 {
  position: absolute;
  width: 64px;
  top: 326px;
  left: 468px;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #f7f4ea;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-20 {
  position: absolute;
  width: 91px;
  top: 278px;
  left: 468px;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #f7f4ea;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-21 {
  position: absolute;
  width: 108px;
  top: 182px;
  left: 468px;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #f7f4ea;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-22 {
  position: absolute;
  top: 242px;
  left: 1217px;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #f7f4ea;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .term-condition {
  position: absolute;
  top: 280px;
  left: 1189px;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #f7f4ea;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-23 {
  position: absolute;
  top: 318px;
  left: 1219px;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #f7f4ea;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-24 {
  position: absolute;
  top: 356px;
  left: 1244px;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #f7f4ea;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-25 {
  position: absolute;
  width: 140px;
  top: 230px;
  left: 468px;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #f7f4ea;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-26 {
  position: absolute;
  top: 479px;
  left: 576px;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-18 {
  position: absolute;
  width: 1325px;
  height: 719px;
  top: 661px;
  left: 55px;
}

.desktop .group-19 {
  position: relative;
  height: 719px;
}

.desktop .group-20 {
  position: absolute;
  width: 1327px;
  height: 195px;
  top: 0;
  left: 0;
}

.desktop .group-21 {
  position: absolute;
  width: 1329px;
  height: 115px;
  top: 80px;
  left: 0;
}

.desktop .text-wrapper-27 {
  position: absolute;
  width: 1319px;
  top: 0;
  left: 6px;
  font-family: "Quicksand", Helvetica;
  font-weight: 600;
  color: #44433f;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-28 {
  position: absolute;
  width: 1319px;
  top: 55px;
  left: 0;
  font-family: "Quicksand", Helvetica;
  font-weight: 400;
  color: #44433f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-29 {
  position: absolute;
  top: 0;
  left: 6px;
  font-family: "Quicksand", Helvetica;
  font-weight: 700;
  color: #44433f;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-22 {
  position: absolute;
  width: 1319px;
  height: 474px;
  top: 245px;
  left: 0;
}

.desktop .group-23 {
  position: relative;
  width: 1321px;
  height: 474px;
}

.desktop .mask-group-6 {
  width: 668px;
  top: -10px;
  left: -16px;
  position: absolute;
  height: 484px;
}
